@import "../shared_styles/colors.scss";

.container {
  display: flex;
  flex-direction: column;
}

.progress-bar {
  height: 6px;
  background: linear-gradient(90deg, rgba(255,121,0,1) 0%, rgba(255,0,0,1) 100%);;
}

.progress-bar-loading {
  width: 90%;
  transition: width linear 15s;
}

.progress-bar-complete {
  width: 100%;
  opacity: 0;
  transition: width linear 1s, opacity 1s linear 3s;
}

.progress-bar-idle {
  width: 0px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.button {
  border: 1px $green solid;
  padding: 10px 16px;
  border-radius: 16px;

  &:hover {
    border: 2px $green solid;
  }

  &:active {
    border: 3px $green solid;
  }
}

.finish-button {
  border: 1px $red solid;

  &:hover {
    border: 2px $red solid;
  }

  &:active {
    border: 3px $red solid;
  }
}

